* {
  padding: 0;
  margin: 0;
}

.header {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.header img {
  width: 190px;
  float: left;
}

.login-btn {
  width: 100px;
  padding: 8px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
  font-family: "Montserrat Alternates", sans-serif;
}

.login-btn:hover {
  color: #fff;
  transform: scale(1.05);
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-btn:active {
  outline: none;
  border: none;
}

.login-btn:focus {
  outline: none;
}

.header h1 {
  padding-top: 200px;
  padding-bottom: 0;
  font-size: 55px;
  font-family: "Lobster", cursive;
}

.header p {
  margin: 18px 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.input-group {
  width: 90% !important;
  max-width: 500px;
  border-radius: 30px;
  background: #fff;
  margin: auto;
  padding: 2px;
}

.form-control {
  border: 0 !important;
  border-radius: 30px !important;
  margin: 2px;
  box-shadow: none !important;
}

.input-group-text {
  width: 100px;
  background-image: linear-gradient(#00ff7e, #1f3d90);
  border: 0 !important;
  color: #fff !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none;
}

.input-group-text:active {
  transform: scale(0.95);
}

/* Features */

.features {
  padding: 100px 0;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Pacifico", cursive;
}

.feature-img img {
  width: 100%;
}

.price {
  width: 50px;
  height: 50px;
  background: #ff5722;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  position: absolute;
  left: 20px;
  bottom: -25px;
}

.feature-img {
  position: relative;
}

.feature-details {
  padding: 20px;
  text-align: justify;
  font-family: "Montserrat Alternates", sans-serif;
}

.features .fa {
  color: #ff5722;
  font-size: 15px;
}

.feature-details h4 {
  font-weight: 600;
  margin-top: 20px;
}

.feature-details .fa {
  margin-right: 5px;
}

.feature-box {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  margin-bottom: 30px;
}

.gallery {
  padding: 100px 0;
  background: #efefef;
}

.gallery-box {
  margin-bottom: 30px;
}

.gallery-box img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.gallery-box img:hover {
  transform: scale(1.15);
}

.banner {
  height: 80%;
  background-image: url(images/banner2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10%;
}

.banner-highlights {
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}

.booking-btn {
  width: 100px;
  padding: 8px 0;
  outline: none;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  margin-top: 20px;
}

.booking-btn:hover {
  color: #fff;
  transform: scale(1.05);
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.booking-btn:active {
  outline: none;
  border: none;
}

.booking-btn:focus {
  outline: none;
}

.footer {
  padding: 100px 20px 10px;
  background-image: linear-gradient(#4286f4, #373b44);
  color: #fff;
}

.footer-logo {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer p {
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}

.footer .row .fa {
  font-size: 12px;
  margin-bottom: 8.5px;
}

.footer hr {
  margin-top: 10px;
  background: #efefef;
}

.footer .copyright {
  text-align: center;
  margin-left: 35px;
}

.foot-text .fa {
  color: #f44336;
}

/*************************************/
/* BUY PACKAGES PAGE STYLING */

.packages {
  background: rgba(255, 255, 255, 0.589);
  position: relative;
  height: 80%;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  border-radius: 25px;
  overflow: auto;
}

.header > h2 {
  color: #1f3d90;
  position: absolute;
  left: 40%;
  top: 15%;
  padding: 0px;
  z-index: 1;
  font-size: 300%;
  text-align: center;
  padding-bottom: 30px;
  font-family: "Pacifico", cursive;
}

.pack-details {
  position: relative;
  top: 100px;
  margin: 10px;
  border-radius: 10px;
  padding: 25px;
  align-content: center;
  border: 2px solid rgba(37, 73, 214, 0.18);
}

.pack-details img {
  align-self: center;
  border-radius: 10px;
  transition: 0.6s;
}

.pack-details p {
  color: #000;
  font-weight: 1000;
  font-size: 20px;
}

.pack-details img:hover {
  transform: scale(1.2);
}
